[Unit]
Description=Systemd service for running SomeRandomLlamaBot on the server with Ollama
After=network.target

[Service]
ExecStart=/home/server-admin/bots/some-random-llama-bot/main.py --systemd
WorkingDirectory=/home/server-admin/bots/some-random-llama-bot
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=server-admin
Type=notify-reload

[Install]
WantedBy=multi-user.target

